html{
    background-color: #F2F7EA;
    width: 100%;
    margin: auto; 
}
h1{
    font-family: "kestrel-script", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #416B64;
    font-size: 20rem;
}
h2{
    font-family: "kestrel-script", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #416B64;
    font-size: 13rem;
    margin: 1rem;
}
p{
    font-family: "fields", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #416B64;
    font-size: 4rem;
    line-height: 1;
    text-align: center;
    margin: 1rem;
}
#sleep{
    background-image:url(../img/sleeping.jpg);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}
#burst{
    background-image: url(../img/burst.svg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#surprised{
    background-image: url(../img/surprisedbg.svg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    align-items: end;
}
#surprised img{
    height: 100%;
}
.surprised-text{
  position: relative;
  right: 6rem;
}
#late{
    background-image: url(../img/halftone3\ copy.png);
    background-repeat:no-repeat;
    background-size:auto 100%;
    background-position:center;
}
#late div{
   text-align: center;
}
section{
   border-bottom: 10px solid #416B64;
}
a img{
   width:15rem;
    transition: transform 0.01s ease;
}
a img:hover{
    transform: rotate(-7deg);
}